:root {
  background-color: #111111;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
}

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "call-stack call-stack web-api web-api"
    "call-stack call-stack web-api web-api"
    "event-loop task-queue task-queue task-queue"
    "event-loop microtask-queue microtask-queue microtask-queue";

  gap: 10px;
}

.card {
  padding: 4px;
  border-radius: 2rem;
}

.cardContent:hover {
  background-color: #222222;
  cursor: pointer;
  transform: translateY(-1px);
}

.card:nth-child(1) {
  grid-area: call-stack;
  background: linear-gradient(45deg, #db5eff, #f6b62a);
}

.card:nth-child(2) {
  grid-area: web-api;
  background: linear-gradient(45deg, #d32fff, #6e009d);
}

.card:nth-child(3) {
  grid-area: event-loop;
  background: linear-gradient(45deg, #2f2f2f, #606060);
}

.card:nth-child(4) {
  grid-area: task-queue;
  background: linear-gradient(45deg, #ff39de, #c90046);
}

.card:nth-child(5) {
  grid-area: microtask-queue;
  background: linear-gradient(45deg, #a1ff2f, #f8ff2b);
}

.cardContent {
  background-color: #1a1a1a;
  border-radius: 1.8rem;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
}

.title {
  margin: 0 0 .5rem;
}

.subtitle {
  margin-top: 0;
}

.cardContent ul {
  margin: 0;
  color: #e0e0e0;
}

.cardContent ul li {
  font-size: 14px;
}

.hint {
  margin-top: 0;
  color: grey;
  font-size: .75rem;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);

}

.modalContentWrapper {
  border-radius: 2.2rem;
  background: linear-gradient(45deg, #0f00e1, #b1ff15);
  margin: 1rem;
  padding: .25rem;
}

.modalContent {
  max-width: 1200px;
  min-width: 50%;
  min-height: 6rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #111;
  color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalContent button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 32px;
  max-height: 32px;

  position: absolute;
  top: 1rem;
  right: 1rem;

  color: inherit;
  border: 1px solid #fff;
  border-radius: .5rem;
  padding: .5rem;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContent button .char {
  transform: rotateZ(45deg) scale(150%);
}

.modalContent button:hover {
  background: #fff;
  color: #111;
}